.fondo-imagen{
  background: url('/assets/imagenes/cielo.jpg');
}

.texto{
  font-weight: bold;
}

.adelante-imagen{
  position: absolute;
  top: 0px;
  left: 0px;
}

.alerta-finalizar{
  color: red;
}
